body {
    font-family: 'Roboto Condensed', sans-serif !important;
    color: #000000;
}

h2 {
    line-height: 20px !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand svg{
    fill: #FFFFFF !important;
    width: 100%;
    height: auto;
}

.navbar{
    background: #F72210;
}

.qro-cloud{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

.daate{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

.login{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.polygon {
    clip-path: polygon(100% 92%, 100% 100%, 94.5% 100%, 93% 92%);
    height: 230px;
    width: 100%;
    transform: translateY(-50%);
    background: #F72210;
    z-index: 1;
    position: absolute;
    top: 0px;
}


.w-ul,
.ul-l {
    font-size: 19px !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}


.ul-li{
    text-align: left !important;
    border-right: 1px solid #bebdbd50;
    width: 100%;
    padding-right: 10px;
}

.ul-l2{
    font-size: 19px !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}

.my-turn1 img,
.story-img img,
.feat-img img {
    width: 100%;
    height: auto;
}

.debate-container {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(223, 2, 2);
}

.red-side-img{
    height: 50%;
}

.feature-title a{
    font-size: 18px;
    font-weight: 600;
    color: #030303;
    opacity: 0.36;
    margin: 0;
    width: 75%;
}

.story-title a{
    font-size: 24px;
    color: #000000;
    font-weight: 700;
}

.story-txt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333333;
    font-weight: 400;
}

.feat-img span{
    position: relative;
    text-decoration: none;
    bottom: 31px;
    background: #ffffffdc;
    padding: 7px 18px;
    color: #f72210;
    font-weight: 600;
    font-size: 18px;
}

.debate {
    border-bottom: 4px solid rgba(128, 128, 128, 0.397);
    box-shadow: 1px solid rgba(128, 128, 128, 0.185);
}

.left-txt {
    margin-left: 30px;
    margin-top: 10px;
}

.right-txt {
    padding-top: 10px;
}

.left-side,
.name-dbt,
.name-dbt1,
.galan {
    display: flex;
}

.left-side img,
.right-side img {
    width: 63px;
    height: auto;
    
}

.right-side img {
    float: right;
    margin-bottom: 20px;
}

.left-side a,
.right-side a {
    color: #000000;
    font-weight: 700;
}

.galan a,
.galan-none a{
    color: #000000;
    font-weight: 700;
    font-size: 17px;
}

.galan p,
.galan-none p{
    color: #535353;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.left-side span,
.right-side span {
    font-weight: 300;
    font-size: 14px;
}

.left-side p,
.right-side p {
    font-size: 14px;
    font-weight: 600;
}

.left-side {
    padding-top: 5px;
}

.c-vs {
    position: relative;
    z-index: 1;
    width: 32px;
    height: 32px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    margin: 6px auto;
}

.deco{
    position: relative;
}

.deco::ater {
    content: " ";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    top: calc(50%);
    position: absolute;
    left: 0;
    right: 0; 
}

.deco::before {
    content: " ";
    display: block;
    background-color:#d9d9d9;
    height: 2px;
    top: calc(50%);
    position: absolute;
    left: 0;
    right: 0;
}

.right-side {
    border-bottom: 4px solid rgba(128, 128, 128, 0.397);
    box-shadow: 1px solid rgba(128, 128, 128, 0.185);
    margin-bottom: 20px;
}

.galan{
    height: 90px;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.397);
    box-shadow: 1px solid rgba(128, 128, 128, 0.185);
    padding-top: 10px;
}

.galan li,
.galan-none li{
    list-style: none;
}

.galan-none{
    display: flex;
    height: 90px;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 30px;
}

.crd-boddy a{
    font-size: 20px;
    color: #000000;
}

.crd-boddy p{
    font-size: 12px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.more-more h2{
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.397);
    box-shadow: 1px solid rgba(128, 128, 128, 0.185);
}

.tellers{
    display: inline-flex;
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.397);
    box-shadow: 1px solid rgba(128, 128, 128, 0.185);
}

.tellers1{
    display: inline-flex;
    padding-bottom: 10px;
    padding-top: 20px;
}

.tellers a,
.tellers1 a{
    font-size: 17px;
    color: #000000;
}

.tellers p,
.tellers1 p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.tellers ul,
.tellers1 ul{
    list-style: none;
}

.my-turn1 h2{
    font-size: 16px;
    font-weight: 500;
    color: #9c9c9c;
}

.fiv-articles img{
    background-color: #F61602;
    height: 29px;
    width: 28px;
    margin-right: 12px;

}

.fiv-articles h2{
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.rojo-btn button{
    background-color: #F61602;
    color: #FFFFFF;
    font-weight: 600;
}

.rojo-btn1 button{
    background-color: #F61602;
    color: #FFFFFF;
    font-weight: 500;
    padding: 6px 10px 6px 12px;
    font-size: 18px;
}

.homes-card h5,
.learn-code h5{
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}

.homes-card p,
.learn-code p{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.anchor-red a{
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}

.anchor-red{
    background:    #f4f5f6/* hover #dbdcdb*/;
}

.anchor-s h6{
    font-size: 18px;
    color: #F72210;
    font-weight: 600;

}

.anchor-s h5{
    font-size: 16px;
    color: #FFF;
    background: #F72210;
    padding: 5px 10px;
}

.good-company a{
    font-size: 18px;
    color:#000000;
    font-weight: 600;
}

.anchor-h5{
    position: absolute;
    text-decoration: none;
    bottom: -8px;
    background: #f72210;
    padding: 2px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    width: 90px;
}

.anchor-down a{
    color: #000000;
    font-weight: 600;
}

.redus-section {
    font-weight: 600;
    font-size: 21px;
    color: #f72210;
}

.story-title0 a{
    color: #000000;
    font-weight: 600;
    font-size: 18px;
}
.us-txt a{
    color: #000000;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 80px;
}

.us-parameters{
    border-bottom: 1px solid #bebebe;
    padding-bottom: 20px;
}

.newsletter-tittle{
    z-index: 1;
    color: #000000;
    bottom: 180px;
    left: 45px;
    font-weight: 600;
    font-size: 20px;
}

.newsletter-p{
    font-family:  Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin-top: 20px;

}

.brand svg{
    display: block;
    width: 263px;
    height: 36px;
    margin-right: 15px;
    margin-bottom: 12px;
    fill: #F72210;
}

.brand1 span{
    color: #666666;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 12px;
}

.sm-icons a{
    font-size: 24px;
    margin-right: 8px;
    color: #666666;
}

.anchor-countries a{
    display: inline;
    list-style: none;
    font-size: 14px;
    color: #666666;
    line-break: strict;
    text-align: left;
}

.anchor-countries li{
    display: inline; 
}



/* ========================
        Meedia Queries
   ======================== */


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 276px) { 

    header{
        width: 100%;
        background: #F72210;
        position: fixed;
        z-index: 1;
    }

    aside{
        content: "";
        margin-bottom: 30px;
    }

    aside::before {
        content: "";
        display: block;
        height: 28px;
        background-color: #f4f5f7;
        border-top: 1px solid #e2e2e2;
        width: 100%;
    }

    .navbar {
        height: 50px;
    }

    .navbar-brand svg {
        width: 100%;
        height: 20px;
        right: 100px;
        position: relative;
    }

    .subs {
        font-size: 14px !important;
        font-weight: 600;
        background: #FFE400 !important;
        border-radius: 24px;
        width: 100px;
        height: 25px;
        padding-top: 2px !important;
        text-align: center;
        position: absolute;
        top: 12px;
        right: 55px;
    }
    
    .fa-bars{
        font-size: 22px;
        margin-left: 15px;
        color: #FFFFFF;
        position: absolute;
        top: 12px;
        right: 10px;
        opacity: .64;
    }

    .fa-user{
        font-size: 22px;
        margin-left: 15px;
        color: #FFFFFF;
        position: absolute;
        top: 12px;
        right: 180px;
        opacity: .64;
    }

    .img-category {
        color: #f72210;
    }

    .to-image img{
        position: relative;
        padding-bottom: 13px;
        padding-right: 90px;
        vertical-align: middle;
        height: auto;
    }
    .mag-thumb{
        width: 170px;
        height: 228px;
    }

    .current {
        position: absolute;
        top: 13px;
        left: 80px;
        border: 3px solid yellow;
    }

    .feat-tit {
        margin-left: 15px;
        margin-top: 60px;
    }
 }
/* Small ≥576px */
@media (min-width: 576px) {
    .historia {
        margin-top: 60px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 


    .login {
        position: relative;
        top: 0;
        right: 150px;
    }

    .subs {
        font-size: 18px !important;
        width: 130px;
        height: 30px;
        margin: 0 0 15px 20px;
    }

    .fa-bars {
        font-size: 31px;
    }

    .fa-chevron-right {
        font-size: 12px;
        margin-bottom: 3px;
        margin-left: 3px;
    }

    .top-story {
        display: block;
        margin-top: 60px;
        z-index: 1;
    }

    .txt-newsletter {
        position: absolute;
        top: -230px;
        left: 248px;
    }

    .subscribe-cont {
        height: 250px;
    }

    .ul-l2 {
        font-size: 16px !important;
    }

    .top-story {
        height: 100% !important;
    }

    .inthe-mag img{
        width: 165px;
        height: 165px;
    }

    .bb-article article{
        border-bottom: none !important;
    }

    .us-txt a{
        line-height: 1px !important;
    }
    .txt-us {
        line-height: 16px !important;
    }
    .fiv-articles{
        position: absolute;
        left: 290px;
        bottom: 230px;
    }
    .newsletter-img {
        height: 245px;
        border: 1px solid #c3c3c365;
    }
    .newsletter-img img{
        height: 244px !important;
        width: 680px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    
    header {
        position: unset;
    }

    nav input {
        width: 100%;
    }
    
    .butt-head{
        height: 100px;
    }

    .qro-cloud,
    .daate {
        margin-top: 15px;        
    }

    .navbar-brand svg {
        width: 100%;
        height: 60px;
        position: absolute;
        left: 0;
    }

    .this-right {
        position: absolute;
        right: 0;
        top: 40px;
        width: 130px;
    }

    .this-right1{
        right: 120px;
        top: 30px;
    }

    .wht-nav {
        font-size: 10px;
        width: 100%;
        padding: 0;
    }

    .ul-li,
    .ul-l {
        font-size: 17px;
        padding: 0;
    }
    .feat-tit {
        margin-left: 15px;
        margin-top: 10px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

    .ul-li{
        text-align: left !important;
        border-right: 1px solid #bebdbd50;
        padding-right: 20px !important;
        width: 100%;
    }


}
