a{
    text-decoration: none;
    color: inherit;
}

.buddy {
    background-color: #f4f5f6;
    margin: 0 5%;
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

.main-container{
    background: #FFFFFF;
}

.nav{
    background: #FFFFFF;
    margin: 0;
}

.search{
    border: none;
    padding: 0;
    width: 82px;
}

.weather{
    border: none;
    padding: 0;
}

.search input{
    background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) 55px 0 no-repeat;
    width: 100%;
    border: none;
}

.right-buttons{
    align-items: center;
    margin-right: 10px;
    display: inline-flex;
}

.navbar{
    background: #F72210;
    justify-content: space-between;
}

.clima {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    padding-left: 30px;
}

.fecha{
    font-weight: 500;
}

.news-logo{
    padding: 15px;
}

.news-logo svg{
    fill: #FFFFFF;
    width: 396px;
    height: 60px;
}

.hamburger,
.login-button{
    color: #FFFFFF;
    background-color: #f72210;
    border: none;
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-left: 10px;
}

.subscribe,
.free-trial{
    color: #000000;
    background-color: #ffe605;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    padding: 8px 22px 8px 22px;
    margin-left: 10px;
    border-radius: 18px;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;

}

nav{
    width: 100%;
    font-weight: 700;
    position: relative;
    padding-top: 20px;
    padding-right: 80px;
    margin-top: 50px;
    top: 0;
    left: 0;
    right: 0;

}

nav ul{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-evenly;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.424);
    box-shadow: 1px solid rgba(128, 128, 128, 0.424);
}

nav li{
    border-right: 1px solid rgba(58, 57, 57, 0.76);
    display: inline-block;
    white-space: nowrap;
    padding: 0 5px;
}

nav::before{
    position: relative;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 66px;
    background-color: #f72210;
    border-left: 1px solid #FFFFFF;
    border-top: #f72210;
    box-sizing: content-box;
}

.feat-img img{
    width: 100%;
    height: auto;
}

.debate-container{
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(223, 2, 2);
}

.debate-red-side

.red-side-img{
    height: 50%;
}



/*Media Queries*/

@media (max-width: 1023px){
    nav,
    .clima,
    .subscribe {
        display: none;
    }
    main{
        margin-top: 15px;
    }
}

@media (min-width: 1023px) {
    .news-logo svg{
      fill: white;
      width: 396px;
      height: 60px;
    }
  
    nav {
      margin-top: 90px;
    }
  
    .hamburger,
    .free-trial {
      display: none;
    }
  
    .sign-up-container {
      margin-top: 35px;
    }
  
    .subscribe {
      max-width: 250px;
      margin-left: 30px;
    }
  }


/* ========================
    Meedia Max Width 480px
   ======================== */

@media screen and (max-width: 480px) {
    .buddy{
        margin: 0;
        padding: 0;
    }

    header{
        position: block;
        z-index: 1;
    }

    .news-logo svg{
        display: block;
        width: 132px;
        height: 20px;
    }

    .bttn-txt,
    .free-trial,
    .nav ul{
        display: none;
    }

    .subscribe{
        display: block;
        margin: 0 0 0 10px;
        padding: 7px 15px 7px 15px;
    }


}