body {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-container {
    background: #FFFFFF;
}

.nav {
    background: #FFFFFF;
    margin: 0;
}

.search {
    border: none;
    padding: 0;
    width: 82px;
}

.weather {
    border: none;
    padding: 0;
}

.search input {
    background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) 55px 0 no-repeat;
    width: 100%;
    border: none;
}

.right-buttons {
    align-items: center;
    margin-right: 10px;
    display: inline-flex;
}

.login-button {
    font-size: 16px;
    color: white;
}

.navbar {
    background: #F72210;
    justify-content: space-between;
    padding: 0;
}

.clima {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    padding-left: 30px;
}

.fecha{
    font-weight: 500;
}

.news-logo{
    padding: 15px;
}

.news-logo svg{
    fill: #FFFFFF;
    width: 396px;
    height: 60px;
}

.hamburger,
.fa-user {
    color: #FFFFFF;
    background-color: #f72210;
    border: none;
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-right: 10px;
    opacity: .75;
}

.subscribe,
.free-trial {
    color: #000000;
    background-color: #ffe605;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    padding: 8px 22px 8px 22px;
    margin-right: 10px;
    border-radius: 18px;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;

}

nav {
    width: 100%;
    font-weight: 700;
    position: relative;
    padding-top: 15px;
    padding-right: 80px;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid rgba(128, 128, 128, 0.103);
    box-shadow: 1px solid rgba(128, 128, 128, 0.185);
}

nav ul{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-evenly;
    text-align: center;
    padding-top: 10px;
    padding-left: 0;
}

nav li {
    border-right: 1px solid rgba(58, 57, 57, 0.24);
    display: inline-block;
    white-space: nowrap;
    padding: 0 3px 0 3px;
}

nav input {
    color: rgba(0, 0, 0, .55);
}

.feat-img img {
    width: 100%;
    height: auto;
}

.debate-container {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(223, 2, 2);
}

.red-side-img{
    height: 50%;
}

.feature-title a,
.story-title a{
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #030303;
    opacity: 0.36;
}


/* ========================
        Meedia Queries
   ======================== */
/* Small */
@media screen and (max-width: 767px) and (min-width: 280px){
    body {
        margin: 0;
        padding: 0;
    }

    .navbar {
        margin-left: 0;
        margin-right: 0;
        height: 50px;
    }

    .news-logo svg {
        width: 132px;
        height: 20px;
    }

    .news-logo,
    .right-buttons{
        position: relative;
        bottom: 10px;
    }

    .bttn-txt,
    .clima,
    .login-button,
    .free-trial,
    .nav ul {
        display: none;
    }

    .subscribe {
        display: block;
        margin: 0 0 0 10px;
        padding: 3px 12px 3px 12px;
    }

    .fa-bars{
        font-size: 22px;
        margin-left: 15px;
    }

    .story-img img {
        width: 100%;
        height: auto;
    }

}

/* Medium */
@media screen and (max-width: 991px) and (min-width: 768px) {

    .login-icon {
        display: none;
    }

    .navbar {
        margin-left: 0;
        margin-right: 0;
        height: 50px;
    }
    
    .news-logo svg {
        width: 132px;
        height: 20px;
    }

    .login-button {
        font-size: 18px;
        font-family: 'Roboto Condensed', sans-serif;
        color: #fff;
        margin-right: 10px;
    }

    .news-logo,
    .right-buttons{
        position: relative;
        bottom: 10px;
    }

    .fa-bars{
        font-size: 28px;
    }

    .bttn-txt,
    .clima,
    .free-trial,
    .nav ul {
        display: none;
    }

}
/* Big Screens */
@media screen and (min-width: 992px) {
    
    .buddy{
        background-color: #f4f5f6;
        margin: 0 4%;
    }

    .clima a{
        color: #FFFFFF;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 600;
    }

    .fecha{
        font-size: 16px;
        color: #FFFFFF;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 200;
    }

    .fa-bars,
    .login-icon,
    .hamburger,
    .free-trial {
        display: none;
    }


    .login-button {
        font-size: 18px;
        font-family: 'Roboto Condensed', sans-serif;
        color: #fff;
        margin-right: 20px;
    }

    .nav a{
        color: #000000;
        text-decoration: none;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        font-size: 19px;
        text-align: center;
        line-height: 20px;
    }

    .nav {
        padding: 15px 35px 5px 10px;
        clip-path: polygon(0 0, calc(100% - 80px) 0, calc(100% - 68px) 13px, 100% 13px, 101% 55px, 0 55px);
    }

    .nav {
        width: 100%;
    }

}
/* 

        content: "";
        top: 0;
        right: 0;
        position: relative;
        display: block;
        width: 22px;
        background-color: #f72210;
        border-left: 1px solid #FFFFFF;
        border-top: #f72210;

*/